services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    env_file:
      - frontend/.env
    networks:
      - poc-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8765:8765"
    env_file:
      - backend/.env
    networks:
      - poc-network

networks:
  poc-network:
    driver: bridge
